body {
    margin: 0;
}

header {
    background-color: rgb(30, 210, 180);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
        ul {
            display: flex;
            gap: 10px;
        }
            li {
                list-style-type: none;
            }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: #fff;
                }
}
.burger {
    width: 60px;
    display: none;
}

.logo {
    width: 80px;
    height: 80px;
        img {
            width: 100%;
        }
}
.burger-btn {
    all: unset;
}



.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    gap: 1rem;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(178, 200, 219);
    margin-top: 20px;
}

#buttonLogin {
    background-color: rgb(109, 109, 221);
    color: #fff;
    border: none;
    border-radius: 3px;

}
#buttonLogin:hover {
    cursor: pointer;
    background-color: rgb(138, 138, 221);
}
#buttonLogin, 
#userName,
#password {
    padding: 5px;
}

.successMessage {
    color: green;
    text-align: center;
}
.errorMessage {
    color: red;
    text-align: center;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    position: fixed;
    transition: 0.3s ease-in;
    left: -100%;
    display: none;
        nav {
            ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding-top: 4rem;
            }
                li {
                    list-style-type: none;
                }
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: white;
                    }
        }
}

.active {
    left: 0;
}

@media screen and (max-width: 768px ) {
    header ul {
        display: none;
    }
    .burger {
        display: inline-block;
        cursor: pointer;
    }
    .mobile-menu {
        display: inline-block;
    }
}