*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8fafc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: #fff;
    box-shadow: 1px 3px 13px -6px;
    padding: 20px 20px 0 20px;
}

a {
    text-decoration: none;
    color: #645cff;
}




.wrapper {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.task-desk {
    background-color: #fff;
    width: fit-content;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 3px 13px -6px;
}

h1 {
    margin-bottom: 30px;
}

.add-tasks {
    display: flex;
}

button {
    padding: 0 40px;
    background-color: #645cff;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
textarea {
    padding: 5px 0;
    border: 1px solid grey;
    background-color: #f8fafc;
}


.done-task-table {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 1px 3px 13px -6px;
    padding: 10px;
    border-radius: 5px;

}

.done-task {
    margin: 40px 0;
    width: 570px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 1px 3px 13px -6px;
    padding: 10px;
    border-radius: 5px;

}
.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    border-bottom: 2px solid grey;
    gap: 10px;
    flex-wrap: wrap;
}
.task-card:hover {
    background-color: #ccdae7;
}
.task-card:active {
    background-color: #d7dfe6;
}

.status-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.in-progress {
    background-color: red;
}
.done {
    background-color: green;
}
.task-card-done {
    border-bottom: 2px solid green;
}
.task-card-in-progress {
    border-bottom: 2px solid red;
}


h2 {
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
}

input {
    width: 300px;
}


.edit-task {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 600px;
}

.form-control {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 20px;
}

.task-edit-name {
    text-align: center;
}



.back {
    background-color: #222222;
    color: #fff;
    border-radius: 5px;
    padding: 5px 50px;
    margin-top: 100px;
}

.bx {
    color: #645cff;
}