body {
    margin: 0;

}

.card {
    margin: 50px auto;
    width: 70%;
    border: 1px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

img {
    width: 300px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: blanchedalmond;
    font-size: 24px;
    
}
nav {
    display: flex;
}

ul {
    display: flex;
    gap: 20px;
}
ul li {
    list-style: none;
    
}
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(93, 93, 235);
    
}