*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

.equilibrium {
    width: 100%;
    border-radius: 15px;
}






.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.wrapper-card   {
    width: 375px;
    background-color: #15273f;
    padding: 25px;
    border-radius: 15px;
    box-shadow:  0 0 5em #132541;
    margin-top: 2%;
}

.wrapper-card h1 {
    font-size: 24px;
    padding: 20px 0px;
}

.wrapper-card h1:hover {
    cursor: pointer;
    color: #26e0de;
}

.paragraph {
    font-size: 20px;
    color: #96acca;
    font-weight: 300;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
}

.eth {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.eth-paragraph {
    color: #26e0de;
}
.eth-paragraph-grey {
    color: #96acca;
}

.separator {
    border: 1px solid #96acca;
    margin: 20px 0;
}


.creation img {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 13%;
}

.creation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.creation p {
    font-size: 17px;
}

.creation .pilka {
    color: #96acca;
}

.equilibrium:hover {
    cursor: pointer;
}

.creation .hover:hover {
    color: #26e0de;
    cursor: pointer;
}





