*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.adContainer {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

.main-body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;

    .left-side-layout {
        width: 80%;
    }
    .right-side-layout {
        width: 300px;
        margin-left: 5px;
        margin-top: 200px;
        position: sticky;
        top: 0;
        .vertical-ad {
            width: 300px;
            position: sticky;
            top: 0;
            
            
        }
    }
}

.container-web {
    width: 100%;
}

.logo img {
    width: 200px;
}

.menu-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc01;
    padding: 10px 20px;
        .add-btn  {
           background-color: #43a71e; 
           border: none;
           border-radius: 2px;
           padding: 5px;
           cursor: pointer;
           font-size: 18px;
            a {
                text-decoration: none;
                color: #fff;
            }
            
        }
        .add-btn:hover {
            box-shadow: 0px 0px 3px 0px black;
        }
        .menu {
            display: flex;
                .burger-btn {
                    all: unset;
                    /* .burger {
                        display: none;
                    } */
                }
            }
        .burger {
            display: none;
        }
        .menu ul {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 0;

                li {
                    list-style-type: none;
                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 18px;
                        }
                        a:hover {
                            color: #fff;
                        }
                }
            
        }
}   

.mobile-menu {
    width: 80%;
    height: 100%;
    background-color: #ffcc01;
    position: fixed;
    transition: 0.3s ease-in;
    margin-left: 10%;
    z-index: 2;
    left: -100%;
    display: none;
        
        ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 4rem;
        }
            li {
                list-style-type: none;
            }
                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                }
                a:hover {
                    text-decoration: underline;
                }
        
}

.active {
    left: 0;
}

.posts-wrapper {
    padding: 0;

    .card {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgb(177, 176, 176);
        overflow: hidden;
       
        .post-img {
            width: 200px;
            height: 150px;
            object-fit: cover;
            
        }
        .contentBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:  20px;
            
            .card-title {
                text-decoration: none;
                
            }
            .price {
                color: #43a71e;
                font-size: 24px;
                font-weight: 700;
                margin: 0;
                
            }
        }
    }
    .card:hover {
        box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);

        .post-img {
            transform:  scale(1.1);
            transition: transform 0.3s ease-in;
              
        }
    } 
    
}

.footer {
    background-color: #f7f5f4;
    border-top: 4px solid #ffcc01;
    
        .footer-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            align-items: center;
                .footer-logo {
                    width: 100px;
                    padding: 20px;
                }
                .footer-box {
                    display: flex;
                    flex-direction: column;
                    
                        ul {
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            margin: 0;
                            
                            li {
                                list-style-type: none;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                
                                a {
                                    color: black;
                                    padding-bottom: 10px;
                                }
                                a:hover {
                                    transform: scale(1.1);
                                    transition: 0.3s ease;
                                }
                                
                            }
                        }
                    
                }
        }
}

@media screen and (max-width: 1000px) {
    .right-side-layout {
        display: none;
    }
    
}

@media screen and (max-width: 850px) {
    .menu ul a  {
        display: none;
    }
    .menu .burger-btn .burger {
        display: inline-block;
        cursor: pointer;
    }
    .adContainer {
       display: none;
    }
    .mobile-menu {
        display: inline-block;
    }
    .logo img {
        width: 100px;
    }
    .footer .footer-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .posts-wrapper .card .post-img {
        width: 125px;
        height: 100px;
    }
    .menu-bar .add-btn a {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 576px) {
    .main-body .left-side-layout {
        width: 100%;
    }
    .posts-wrapper .card .contentBlock .card-title {
        font-size: 12px;
    }
    .posts-wrapper .card .contentBlock .price {
        font-size: 12px;
    }
    .posts-wrapper .card .post-img {
        width: 100px;
        height: 75px;
    }
    .posts-wrapper .card .contentBlock {
        padding: 2px;
    }
    .mobile-menu {
        width: 100%;
        margin: 0;
    }
    .menu-bar .add-btn a {
        font-size: 12px;
    }
    .footer {
        font-size: 12px;
    }
        
}