@import 'variables.css';

.posts-wrapper {
    padding: 0;

    .card {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgb(177, 176, 176);
        overflow: hidden;
       
        .post-img {
            width: 200px;
            height: 150px;
            object-fit: cover;
            
        }
        .contentBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:  20px;
            
            .card-title {
                text-decoration: none;
                
            }
            .price {
                color: var(--secondary-color);
                font-size: 24px;
                font-weight: 700;
                margin: 0;
                
            }
        }
    }
    .card:hover {
        box-shadow: var(--box-shadow);

        .post-img {
            transform:  scale(1.1);
            transition: transform 0.3s ease-in;
              
        }
    } 
    
}

@media screen and (max-width: 1000px) {
    .right-side-layout {
        display: none;
    }
    
}

@media screen and (max-width: 850px) {
    .menu ul a  {
        display: none;
    }
    .menu .burger-btn .burger {
        display: inline-block;
        cursor: pointer;
    }
    .adContainer {
       display: none;
    }
    .mobile-menu {
        display: inline-block;
    }
    .logo img {
        width: 100px;
    }
    .footer .footer-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .posts-wrapper .card .post-img {
        width: 125px;
        height: 100px;
    }
    .menu-bar .add-btn a {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 576px) {
    .main-body .left-side-layout {
        width: 100%;
    }
    .posts-wrapper .card .contentBlock .card-title {
        font-size: 12px;
    }
    .posts-wrapper .card .contentBlock .price {
        font-size: 12px;
    }
    .posts-wrapper .card .post-img {
        width: 100px;
        height: 75px;
    }
    .posts-wrapper .card .contentBlock {
        padding: 2px;
    }
    .mobile-menu {
        width: 100%;
        margin: 0;
    }
    .menu-bar .add-btn a {
        font-size: 12px;
    }
    .footer {
        font-size: 12px;
    }
        
}