.wrapper {
    width: 500px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
}

.image {
    width: 300px;
    border-radius: 5px;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.alcoholic {
    background-color: red;
}
.non-alcoholic {
    background-color: green;
}

