@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
.sidebar {
    position: absolute ;
    background-color: rgb(49, 48, 48);
    width: 250px;
    bottom: -500px;
    top: 0;
    color: #fff;

}

.logo {
    font-size: 40px;
    padding: 10px;
}


.window .sidebar .menu a {
    color: #ddd;
    text-decoration: none;
}

.window .sidebar .menu > ul > li > a {
    position: relative;
    font-size: 15px;
    padding: 10px 0px;
    display: block;
    font-weight: bold;
}




.separator {
    border-top: 1px solid #111111;
    border-bottom: 1px solid #353535;
    margin: 20px;
}


.window .sidebar .menu > ul > li.active {
    list-style-type: circle;
    color: #ff3a3a;
    padding-bottom: 10px;
    margin-left: 30px;
}
  
.window .sidebar .menu > ul > li.active > a {
    padding-bottom: 0;

}
  
.window .sidebar .menu > ul > li.active ul {
    display: block;
    margin-top: 5px;
    margin-left: 30px;
}
  
.window .sidebar .menu > ul > li.active ul li.active a {
    color: #fff;
    font-weight: bold;
    
}
  
.window .sidebar .menu > ul > li.active ul li a {
    padding: 5px;
    display: block;
    font-size: 13px;
    color: #888;
}
  
.window .sidebar .menu > ul > li ul {
    display: none;
}
  
ul li {
    margin-left: 30px;
    text-decoration: none;
}

.no-bullets a {
    padding: 10px 0 ;
    
}

.no-bullets li {
    position: relative;
    display: block;
    padding: 10px 0 ;

}

.main {
    margin-left: 250px;
    position: relative;
}

.title-bar {
    padding: 20px;
    border-bottom:  1px solid #ddd;
    overflow: hidden;
}

.left   {
    float: left;
    font-size: 15px;
    text-transform: uppercase;
}
.bold   {
    font-weight: bold;
}

.grey {
    color: #999;
}

.left p {
    display: inline-block;
    margin-right: 10px;
}

.right {
    float: right;
}

.right a {
    color: #999;
    margin-left: 10px;
}
.right .blue   {
    color: rgb(109, 154, 196);
}

.list {
    list-style-type: none;
    padding-left: 30px;
    padding-top: 30px;
}

.list li {
    padding-bottom: 50px;
    margin-right: 20px;
    position: relative;
}

h3, p {
    padding: 10px 0;
}